{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Template to create VPC security group for certification instances.",
  "Parameters": {
		"VPC" : {
			"Type" : "String",
			"Default":"vpc-1b2eee70",
			"Description" : "VpcId of your existing Virtual Private Cloud (VPC)"
		}
	},
	"Resources": {
		"dbserver": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-dbserver"}],
				"GroupDescription": "security group for cert DB server",
				"SecurityGroupIngress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"adf": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-adf"}],
				"GroupDescription": "security group for cert adf instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "25", "ToPort": "25" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.44.152/32", "FromPort": "3269", "ToPort": "3269" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"ucm": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-ucm"}],
				"GroupDescription": "security group for cert ucm instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "26826", "ToPort": "26826" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.44.152/32", "FromPort": "3269", "ToPort": "3269" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"soa": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-soa"}],
				"GroupDescription": "security group for cert soa instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.210.177/32", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.124/32", "FromPort": "7888", "ToPort": "7888" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.210.177/32", "FromPort": "21", "ToPort": "21" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "25", "ToPort": "25" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.124/32", "FromPort": "7888", "ToPort": "7888" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "0", "ToPort": "65535" }
				]
			}
		},
		"bpm": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-bpm"}],
				"GroupDescription": "security group for cert bpm instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "25", "ToPort": "25" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"oam": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-oam"}],
				"GroupDescription": "security group for cert oam instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "26877", "ToPort": "26877" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "26880", "ToPort": "26880" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
                ],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "25", "ToPort": "25" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
                ]
			}
		},
		"oid": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-oid"}],
				"GroupDescription": "security group for cert oid server",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"eohs": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-eohs"}],
				"GroupDescription": "security group for cert external ohs instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "4443", "ToPort": "4443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "7777", "ToPort": "7777" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7777", "ToPort": "7777" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "0", "ToPort": "65535" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "0", "ToPort": "65535" }
				]
			}
		},
		"iohs": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-iohs"}],
				"GroupDescription": "security group for cert internal ohs instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7777", "ToPort": "7777" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"prizm": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-prizm"}],
				"GroupDescription": "security group for prizm cert instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "18680", "ToPort": "18680" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"inera": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-inera"}],
				"GroupDescription": "Oracle security group for inera (win2k8) cert instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3389", "ToPort": "3389" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"antivirus": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-antivirus"}],
				"GroupDescription": "Oracle security group for anti virus cert instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "55443", "ToPort": "55443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26808", "ToPort": "26808" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26810", "ToPort": "26810" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.234.43/32", "FromPort": "26820", "ToPort": "26820" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "138.12.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "145.36.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "172.16.0.0/12", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "192.168.0.0/16", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "193.131.192.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.187.133.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.0/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.64/26", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.192/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "198.206.141.224/27", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.24.43.0/24", "FromPort": "7001", "ToPort": "7001" },
					{ "IpProtocol" : "tcp", "CidrIp": "207.25.181.0/24", "FromPort": "7001", "ToPort": "7001" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.237.0/24", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "8140", "ToPort": "8140" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1159", "ToPort": "1159" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "1521", "ToPort": "1521" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "3872", "ToPort": "3872" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4889", "ToPort": "4889" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "4900", "ToPort": "4900" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "21112", "ToPort": "21112" }
				]
			}
		},
		"hanfs": {
			"Type": "AWS::EC2::SecurityGroup",
			"Properties": {
				"VpcId" : {"Ref" : "VPC"},
				"Tags" :  [ {"Key" : "Name","Value" : "sg-evise-cert-hanfs"}],
				"GroupDescription": "security group for cert nfs instance",
				"SecurityGroupIngress": [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.160/27", "FromPort": "22", "ToPort": "22" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.232.32/27", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.232.32/27", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "icmp", "CidrIp": "10.178.232.32/27", "FromPort" : "-1", "ToPort" : "-1" },
					{ "IpProtocol" : "tcp", "CidrIp": "10.0.0.0/8", "FromPort": "22", "ToPort": "22" }
				],
				"SecurityGroupEgress" : [
					{ "IpProtocol" : "tcp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "udp", "CidrIp": "10.178.237.0/24", "FromPort": "0", "ToPort": "65535" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "80", "ToPort": "80" },
					{ "IpProtocol" : "udp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "443", "ToPort": "443" },
					{ "IpProtocol" : "tcp", "CidrIp": "0.0.0.0/0", "FromPort": "123", "ToPort": "123" }
				]
			}
		}
	}
}
